@use '@/shared/styles' as *;

.wrapper {
	display: flex;
	gap: 10px;
	align-items: center;
	margin-top: 10px;

	.image {
		width: 100px;
		aspect-ratio: 3 / 2;
		object-fit: cover;
		object-position: center;
		border-radius: $radius;
	}
}

.modal {
	display: flex;
	align-items: center;
	justify-content: center;

	.imageContent {
		width: 100%;
		background-color: $white;

		img {
			width: 400px;
		}
	}
}
