@use '@/shared/styles' as *;

.content {
	width: 90%;
	max-width: 500px;
	padding: 20px;
	text-align: center;
	background-color: $background;
	border-radius: $radius;

	.image {
		width: 100%;
		aspect-ratio: 3 / 2;
		object-fit: cover;
		object-position: center;
		border-radius: $radius;
	}

	.info {
		h4 {
			margin: 5px;
		}
	}
}
