@use '@/shared/styles' as *;

.settings {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 600px;
	padding: 10px;

	.button {
		display: flex;
		gap: 5px;
		align-items: flex-start;
	}
}

@media screen and (width < 495px) {
	.settings {
		flex-direction: column;
		gap: 10px;
	}
}
